body {
  background: #4084f8;
  
}
.container {
  width: 400px;
  margin: 20vh auto;
  text-align: center;
  font-family: Arial, sans-serif;
  background: #9bbffd;
  padding: 50px;
  border-radius: 8px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background: #044dcb;
  color: white;
  border-radius: 4px;
}
button:hover {
  background: #032056;
}

h2 {
  margin-top: 20px;
}